/*
 * Custom, non-bootstrap-theme CSS
*/

#header {
    margin-bottom: 10px;
}

#site-title {
    font-size: 29px;
    text-transform: uppercase;
}

.link-black {
    color: black !important;
    text-decoration: none !important;
}

.link-black:hover {
    opacity: .7;
}

.media-links i {
    margin-left: .05em;
    margin-right: .05em;
}

#main-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

#content {
    margin-bottom: 20px;
}

#content .content-page {
    display: none;
}

#resume-success {
    display: none;
    margin-left: 15px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.no-top {
    margin-top: 0 !important;
}

.no-bottom {
    margin-bottom: 0 !important;
}

.push-top {
    padding-top: 10px;
}

.push-bottom {
    padding-bottom: 10px;
}

.push-left {
    padding-left: 5px;
}

.push-right {
	padding-right: 5px;
}

.post-title {
    margin-bottom: 2px;
}

.post-excerpt {
    margin-top: 5px;
    margin-left: 5px;
}

.post-header {
    padding-bottom: 5px;
    border-bottom: 1px dashed @brand-primary;
}

.post-content {
    margin-top: 15px;
    margin-left: 5px;
}

.post-content .lead {
    margin-bottom: 10px;
}

.panel-heading h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PULLQUOTES */
.has-pullquote:before {
	/* Reset metrics. */
	padding: 0;
	border: none;
	
	/* Content */
	content: attr(data-pullquote);
	
	/* Pull out to the right, modular scale based margins. */
	float: right;
	width: 275px;
	margin: 12px -12px 24px 24px;
	
	/* Baseline correction */
	position: relative;
	top: 5px;
	
	/* Typography (30px line-height equals 25% incremental leading) */
	font-size: 23px;
	font-weight: 400;
	line-height: 30px;
	color: @brand-primary;
}

.pullquote-left:before {
	float: left;
	margin: 12px 12px 24px 6px;
}

/* DISQUS */
#disqus_thread {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 5px double @brand-primary;
}