<a class="link-black" href="https://www.facebook.com/alexander.kalicki"><i class="icon-2x icon-facebook-sign"></i></a>
<a class="link-black" href="https://twitter.com/AlexKalicki"><i class="icon-2x icon-twitter-sign"></i></a>
<a class="link-black" href="http://www.linkedin.com/in/akalicki"><i class="icon-2x icon-linkedin-sign"></i></a>
<a class="link-black" href="https://github.com/akalicki"><i class="icon-2x icon-github-sign"></i></a>
<a class="link-black" href="{{ site.blog_rss }}"><i class="icon-2x icon-rss-sign"></i></a>