<!-- contact -->
<div id="contact-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-envelope"></i> Contact</h1>
    <p class="lead">Please don't hesitate to get in touch!</p>
    
    <div class="clearfix">
        <div class="col-sm-5">
            <h4 class="text-center">contact me on social media</h4>
            <ul class="list-unstyled">
                <li><h2><a class="link-black" href="https://www.facebook.com/alexander.kalicki">
                    <i class="icon-large icon-facebook-sign"></i> facebook<h2></li>
                </a></h2></li>
                <li><h2><a class="link-black" href="https://twitter.com/AlexKalicki">
                    <i class="icon-large icon-twitter-sign"></i> twitter
                </a></h2></li>
                <li><h2><a class="link-black" href="http://www.linkedin.com/in/akalicki">
                    <i class="icon-large icon-linkedin-sign"></i> linkedin
                </a></h2></li>
                <li><h2><a class="link-black" href="https://github.com/akalicki">
                    <i class="icon-large icon-github-sign"></i> github
                </a></h2></li>
            </ul>
        </div>
        <div class="col-sm-7">
            <h4 class="text-center">or if you'd prefer,</h4>
            <h2><a class="link-black" href="mailto:alexander.kalicki@gmail.com">
                <i class="icon-large icon-envelope-alt"></i> send me an email
            </a></h2>
        </div>
    </div>
</div>