<!-- projects -->
<div id="projects-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-gears"></i> Projects</h1>
    <p class="lead">Take a look at some of my recent work! Check out <a href="https://github.com/akalicki">my GitHub</a> for more.</p>
    
    <!-- stratus -->
    <div class="clearfix push-bottom">
        <h2 class="text-center"><i class="icon-cloud-upload"></i> Stratus</h2>
        <h4 class="text-center">
            <span class="label label-default">Python</span>
            <span class="label label-default">Dropbox</span>
            <span class="label label-default">MongoDB</span>
        </h4>
        <p class="push-top">Free, unlimited cloud storage! Written in Python, using the headless WebKit PhantomJS to create new Dropbox accounts when the current one is full. The application leverages Dropbox's API to power data requests and a local MongoDB NoSQL database to store file information. The project works as a command line utility powered by familiar UNIX FTP-style controls while the background accounts created are abstracted away from the end user.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/stratus">GitHub Repo</a>
            </p>
        </div>
    </div>

    <!-- simple-gallery.js -->
    <div class="clearfix push-bottom">
        <h2 class="text-center"><i class="icon-picture"></i> simple-gallery.js</h2>
        <h4 class="text-center">
            <span class="label label-default">JavaScript</span>
            <span class="label label-default">jQuery</span>
            <span class="label label-default">jQuery UI</span>
        </h4>
        <p class="push-top">A lightweight widget for quickly creating highly customizable photo galleries using standard jQuery notation.  The idea behind the project was to separate the work of creating a cycling slideshow animation from the gallery's design process, allowing for greater facility of code-reuse and fewer headaches.  simple-gallery.js creates a slideshow that you can easily customize without having to worry about superfluous code and unneeded options.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/jquery-simple-gallery">GitHub Repo</a>
                <a class="btn btn-primary" href="{{ site.url }}/jquery-simple-gallery/">Project Page</a>
            </p>
        </div>
    </div>

    <!-- Tik Tok Tank -->
    <div class="clearfix push-bottom">
        <h2 class="text-center"><i class="icon-gamepad"></i> Tik Tok Tank</h2>
        <h4 class="text-center">
            <span class="label label-default">C#</span>
            <span class="label label-default">XNA</span>
            <span class="label label-default">Artificial Intelligence</span>
        </h4>
        <p class="push-top">A fun grid-based shooter I wrote in C# for the Game Design and Artificial Intelligence class I took my senior year in high school. It features both single-player and multiplayer modes, and tanks can be controlled using the keyboard or XBOX 360 controllers. Computer players feature very limited artificial intelligence and my own modified implementation of the A* search algorithm to help them navigate through the maze of blocks and find the human player using the shortest path possible.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/Tik-Tok-Tank">GitHub Repo</a>
            </p>
        </div>
    </div>
    
    <!-- EWB-Morocco website -->
    <div class="clearfix push-bottom">
        <h2 class="text-center"><i class="icon-globe"></i> EWB-Morocco Website</h2>
        <h4 class="text-center">
            <span class="label label-default">HTML5</span>
            <span class="label label-default">CSS3</span>
            <span class="label label-default">JavaScript</span>
        </h4>
        <p class="push-top">A simple but elegant website built for the Columbia University Engineers Without Borders chapter's Morocco program that utilizes the latest standards in HTML and CSS.  In designing the site, I experimented with new HTML5 tags and CSS3 transitions, while ensuring that the page would still display as intended on legacy browsers.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/EWB-Morocco">GitHub Repo</a>
                <a class="btn btn-primary" href="http://morocco.cuewb.org/">Website</a>
            </p>
        </div>
    </div>
    
</div>