<!-- projects -->
<div id="projects-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-gears"></i> Projects</h1>
    <p class="lead">Take a look at what I've been working on recently.</p>
    
    <!-- simple-gallery.js -->
    <div class="clearfix col-lg-10 push-bottom">
        <h2 class="text-center"><i class="icon-picture"></i> simple-gallery.js</h2>
        <h4 class="text-center">
            <span class="label label-default">JavaScript</span>
            <span class="label label-default">jQuery</span>
            <span class="label label-default">jQuery UI</span>
        </h4>
        <p class="push-top">A lightweight widget for quickly creating highly customizable photo galleries using standard jQuery notation.  The idea behind the project was to separate the work of creating a cycling slideshow animation from the gallery's design process, allowing for greater facility of code-reuse and fewer headaches.  simple-gallery.js creates a slideshow that you can easily customize without having to worry about superfluous code and unneeded options.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/jquery-simple-gallery">GitHub Repo</a>
                <a class="btn btn-primary" href="{{ site.url }}/jquery-simple-gallery/">Project Page</a>
            </p>
        </div>
    </div>
    
    <!-- EWB-Morocco website -->
    <div class="clearfix col-lg-10 push-bottom">
        <h2 class="text-center"><i class="icon-globe"></i> EWB-Morocco Website</h2>
        <h4 class="text-center">
            <span class="label label-default">HTML5</span>
            <span class="label label-default">CSS3</span>
            <span class="label label-default">JavaScript</span>
        </h4>
        <p class="push-top">A simple but elegant website built for the Columbia University Engineers Without Borders chapter's Morocco program that utilizes the latest standards in HTML and CSS.  In designing the site, I experimented with new HTML5 tags and CSS3 transitions, while ensuring that the page would still display as intended on legacy browsers.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="https://github.com/akalicki/EWB-Morocco">GitHub Repo</a>
                <a class="btn btn-primary" href="http://morocco.cuewb.org/">Website</a>
            </p>
        </div>
    </div>
    
    <!-- Calypso Farm website -->
    <div class="clearfix col-lg-10">
        <h2 class="text-center"><i class="icon-leaf"></i> Calypso Farm Website</h2>
        <h4 class="text-center">
            <span class="label label-default">PHP</span>
            <span class="label label-default">MySQL</span>
            <span class="label label-default">HTML</span>
            <span class="label label-default">CSS</span>
        </h4>
        <p class="push-top">A larger-scale website and customized Content Management System designed from scratch using pure PHP and SQL for the Calypso Farm and Ecology Center located in Fairbanks, Alaska.  Instead of starting with a commercial CMS and blog management system such as Wordpress that was bound to be bloated with more features than the nonprofit could hope to use, I set up a working SQL database on their server and designed a secure admin section that would better suit the organization's needs.</p>
        <div class="pull-right text-right">
            <h5>Check it out:</h5>
            <p>
                <a class="btn btn-primary" href="http://calypsofarm.org/">Website</a>
            </p>
        </div>
    </div>
    
</div>