<!-- resume -->
<div id="resume-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-pencil"></i> Resume</h1>
    <p class="lead">Provide your contact info and I'll get back to you soon.</p>
    
    <form action="http://submit.jotform.co/submit/32280685117858/" method="post" name="form_32280685117858" accept-charset="utf-8">
        <input type="hidden" name="formID" value="32280685117858" />
        
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="resumeContactName">Name</label>
                <input id="resumeContactName" type="text" class="form-control" placeholder="Your Name" name="q1_name1">
            </div>
            <div class="form-group">
                <label class="control-label" for="resumeContactEmail">Email</label>
                <input id="resumeContactEmail" type="text" class="form-control" placeholder="Your Email" name="q3_email">
            </div>
            <div class="form-group">
                <label class="control-label" for="resumeContactMessage">Message (optional)</label>
                <textarea id="resumeContactMessage" class="form-control" rows="10" placeholder="Optional Message" name="q4_messageoptional"></textarea>
            </div>
            <button id="resumeSubmit" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
            <span id="resume-success" class="text-primary">Your response has been recorded.  Thanks for your interest!</span>
            
            <input type="hidden" id="simple_spc" name="simple_spc" value="32280685117858" />
            <script type="text/javascript">document.getElementById("si" + "mple" + "_spc").value = "32280685117858-32280685117858";</script>
        </fieldset>
    </form>  
</div>