<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-header">
        <h2 class="post-title">
            <span itemprop="name headline">{{ page.title }}</span>
          {% comment %} Add small subtitle if given in page variables {% endcomment %}
          {% if page.subtitle %}
            <small itemprop="alternativeHeadline">{{ page.subtitle }}</small>
          {% endif %}
        </h2>
        <small class="post-date" itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%dT%H:%M' }}">{{ page.date | date: "%B %-d, %Y" }}</small>
    </div>
    <div class="post-content" itemprop="articleBody">